{{page-title "SelectableTable"}}
{{!-- 
<pre>
<code>
  {{this.tableDataReadable}}
</code>
</pre> --}}

<SelectableTable 
  @hasSelectableRows={{true}} 
  @rows={{this.tableData}} 
  @columnOverrides={{this.columnOverrides}}
  @getRowSelectability={{this.validateRowSelectability}}
  @onDownloadButtonClick={{this.onDownloadButtonClick}}
/>


<p>Selectable Table API</p>
<p>@hasSelectableRows= boolean enables or disables row selection</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>